[submodule "external/chapter4-risk-limited-scrubber"]
	path = external/chapter4-risk-limited-scrubber
	url = https://github.com/z3tm4n-x/chapter4-risk-limited-scrubber.git

[submodule "external/chapter4-rate-burst-stress"]
	path = external/chapter4-rate-burst-stress
	url = https://github.com/z3tm4n-x/chapter4-risk-limited-scrubber.git
